<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myweb.mapper.BoardMapper">

	<select id="getList" resultType="org.myweb.domain.BoardVO">
		 <![CDATA[
		 select * from board where board_no > 0
		 ]]>
	</select>
	
	<select id="getListWithPaging" resultType="org.myweb.domain.BoardVO">
		<![CDATA[
		select 
			rownum rn, board_no, board_title, board_content, board_writer, board_date
		from 
			(select /*+ INDEX_DESC(board pk_board) */ 
				rownum rn, board_no, board_title, board_content, board_writer, board_date
			from board 
			where rownum <= #{pageNum} * #{amount}
			)
		where rn >(#{pageNum} -1) * #{amount}
		]]>
	
	</select>

	<insert id="insert">
		insert into board (board_no, board_title, board_content, board_writer)
		values (seq_board.nextval, #{board_title}, #{board_content}, #{board_writer})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="board_no" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>

		insert into board (board_no, board_title, board_content, board_writer)
		values (#{board_no}, #{board_title}, #{board_content}, #{board_writer})
	</insert>

	<select id="read" resultType="org.myweb.domain.BoardVO">
		select * from board where board_no = #{board_no}
	</select>
	
	<delete id="delete">
		delete from board where board_no = #{board_no}
	</delete>
	
	<update id="update">
		update board set board_title=#{board_title}, board_content=#{board_content}, 
		board_writer=#{board_writer} where board_no=#{board_no}
	</update>
</mapper>